[Unit]
Description=ecocoin daemon serivce
After=network.target

[Service]
Type=simple
User=ecocoin
ExecStart=/opt/ecocoin/ecocoind

[Install]
WantedBy=multi-user.target
